<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AngryBirds.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B96E0D91EB90A6D009BF89E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B96E0F51EB90A6D009BF89E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B96E1001EB90A6D009BF89E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
